/* 
	Imports
	------------------------------------------------
*/
@import 'base/mixins';
@import 'base/placeholders';

/* 
	Generic 
	------------------------------------------------
*/
.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }
.table { display: table; width: 100%; height: 100%;
  .table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
}

a { color: white; @include animate( color, 320ms );
	&:hover,
	&:focus { text-decoration: none; color: rgb(131, 131, 131); }
}

.btn{ height: 50px; width: 200px;}

/* 
	Header 
	------------------------------------------------
*/
.header-container { @extend %text-shadow; position: relative; display: block; height: 526px; width: 100%; }

.site-title { color: #fff; margin: 0; font-size: 80px; }
.site-description { font-size: 24px; color: #fff; margin-top: 0.1em; }

.nav-container{ position: absolute; bottom: 0; left: 0; right: 0; }
.profil-container{
  border-radius: 50%;
  height: 166px;
  width: 166px;
  background-image: url('https://scontent-dus1-1.xx.fbcdn.net/v/t1.0-9/22788716_10155875205433556_1237395042326519438_n.jpg?_nc_cat=107&_nc_ht=scontent-dus1-1.xx&oh=cd0917e178e424fc38d998098a6cd1d3&oe=5CD24408');
}

/* 
	Nav Bar
	------------------------------------------------
*/
.navbar-codesavages{ text-align: center; border: none; border-radius: 0; min-height: auto; margin-bottom: 0;
  background: rgba(236, 236, 236, 0.7); border-top: 1px solid rgba(236, 236, 236, 0.7); border-bottom: 1px solid rgba(236, 236, 236, 0.7);
  ul{ flex-direction: row; }
  li{ float: none;
    &.active {
      a{ opacity: 1;
        &:after{ @include transform(translateY(0)); opacity: 1; }
      }
    }
    &.open{
      a { opacity: 1; background-color: rgba(0,0,0,0.1)!important;
				&:after { @include transform( translateY(10px) ); opacity: 0!important; }
				&:hover,
				&:focus,
				&:visited { background-color: rgba(0,0,0,0.1)!important;
					&:after { @include transform( translateY(10px) ); opacity: 0!important; }
				}
			}
    }
    a{ text-decoration: none; text-transform: uppercase; color: black; opacity: 0.7; letter-spacing: 0.05em;
      background: none; text-shadow: 0 1px 1px rgb(0, 0, 0); @include animate(opacity, 320ms);
      &:hover,
      &:focus,
      &:visited { background: none; opacity: 1;
        &:after { opacity: 1; @include transform(translateY(0)); }
      }
      &:after { content: ''; display: block; left: 0; bottom: 0; height: 2px; background:rgba(41, 41, 41, 0.68);
      opacity: 0; @include animate(all, 320ms); @include transform(translateY(10px)); }
    }
    ul.dropdown-menu { border: 0; border-radius: 0; background: rgba(0,0,0,0.75); 
			li { display: block; 
				a {
					&:hover,
					&:focus,
					&:visited { background: rgba(0,0,0,0.25)!important; color: #fff; }
				}
			}
		}
  }
}
.navbar-nav{ justify-content: space-around; width: 100%; }

/* 
	Standard Post Format
	------------------------------------------------
*/
article{ padding-bottom: 40px; padding-top: 40px; color: white; }

h1{ font-size: 48px; font-weight: 200; color: white;
  a{ color: white;
    // &:hover { color: red;}
  }
  &.entry-title{ margin: 0 20px; padding: 0;
    &:before, &:after { content: '~'; display: inline-block; position: relative; }
    &:before { margin-right: 10px; }
    &:after { margin-left: 10px; }
  }
}
.entry-meta{ font-size: 13px; font-weight: 300; color:white; margin-bottom: 20px;
  a{ font-weight: 500; color:white;
    &:focus { color: rgb(0, 0, 0)}
  }
}
.standard-featured-link { display:block; position:relative; 
  &:hover,
  &:focus {
    .standard-featured {
      &:after { background-color: rgba(255, 255, 255, 0); }
    }
  }
}
.standard-featured { height: 450px; display: block; position: relative;
  &:after { @include animate( background-color, 320ms ); content: ''; position: absolute; display: block; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.143); box-shadow: inset 0 0 15px rgba(0,0,0,0.35); }
}
.entry-excerpt{ margin: 30px 0 16px;
  p{ font-size: 16px; line-height: 1.5em; font-weight: 300; letter-spacing: 0.02em;}
}
.button-container{ margin-bottom: 30px;}
.entry-footer{ margin-top: 50px; padding: 10px 5px; border-bottom: 4px solid white; color:white; text-transform: uppercase;}

/* 
	Image Post Format
	------------------------------------------------
*/
.codesavages-image-format{ position: relative;
  .entry-header{ @extend %text-shadow; height: 600px; }
  h1,
  .entry-meta,
  .entry-header { color:white;
    a{ color: white;}
  }
  h1{padding-top: 70px;}
}
.image-caption{ position: absolute; right: 0; left: 0; bottom: 0; padding-bottom: 180px;
  p{font-size: 48px;}
}

/* 
	Audio Post Format
	------------------------------------------------
*/
.codesavages-format-audio{
  .entry-content{
    iframe{width: 100%; height: 166px;}
  }
}

/* 
	Video Post Format
	------------------------------------------------
*/
.codesavages-format-video{
  .entry-video{
    iframe{width: 80%; height: 500px;}
  }
  h1{margin-top: 30px;}
}

/* 
	Gallery Post Format
	------------------------------------------------
*/
.codesavages-format-gallery {
  h1{margin-top: 30px;}
  .standard-featured{ height: 500px; }
  .carousel-item-container{ height: 500px;
    .gallery-picture{width: 100%; height: 100%;}
  }
  .carousel-control{font-size: 30px;}
}

/* 
	Quote Post Format
	------------------------------------------------
*/

.codesavages-format-quote{
  .quote-content{ font-size: 42px; font-weight: 100; line-height: 1.3em; letter-spacing: 0.03em; margin-bottom: 30px;
    &:before, &:after { content: '"'; }
  }
}

/* 
	Link Post Format
	------------------------------------------------
*/
.codesavages-format-link{
  h1{
    &.entry-title{
      &:before, &:after { display: none; }
      .link-icon{
        display: block;
        color: white;
      }
    }
  }
}

/* 
	Aside Post Format
	------------------------------------------------
*/

.codesavages-format-aside{
  .aside-container{
    background-color: rgba(0,0,0,0.05);
    padding-top: 20px;
  }
  .aside-featured{
    width: 116px;
    height: 116px;
    border-radius: 50%;
    margin: 0 auto -20px;
  }
  .entry-meta{
    margin-bottom: 1px;
  }
  .entry-excerpt{
    margin-top: 0;
    p{
      font-size: 15px;
    }
  }
  .entry-footer{
    border-bottom: none;
    background-color: rgba(0,0,0,0.1);
    padding-right: 10px;
    margin-top: 0;
  }
}

/* 
	Footer
	------------------------------------------------
*/
.codesavages-footer{
  color: white;
  background-color: #333;
  padding: 20px 0;
  display: block;
}

/* 
	Ajax Loading 
	------------------------------------------------
*/
.container-load-prev{
  margin-top: 40px;
  margin-bottom: -40px;
}

.codesavages-posts-container{
  color: white;
  padding-top: 40px;
  article{
    @include animate(all, 320ms);
    @include transform(translateY(100px));
    opacity: 0;
    &.reveal{
      @include transform(translateY(0));
      opacity: 1;
    }
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}